header .active {
  background-color: #2b4864;
}
section .left .top .content {
  display: flex;
  height: 88%;
}
section .left .top .content .information {
  flex: 1;
  height: 100%;
}
section .left .top .content .information .head {
  margin-top: 5px;
}
section .left .top .content .information .head .name {
  float: left;
  margin: 10px;
}
section .left .top .content .information .head .standard {
  float: right;
  padding: 3px 12px;
  margin: 7px;
  border-radius: 10px;
  color: #75ff93;
  font-size: 14px;
  border: 1px solid #75ff93;
}
section .left .top .content .information table {
  width: 90%;
  height: 75%;
  border-collapse: collapse;
  margin: 10px auto;
  text-align: center;
  font-size: 14px;
}
section .left .top .content .information table td {
  border: 1px solid #12606e;
  padding: 6px;
}
section .left .top .content .information table td:nth-child(even) {
  color: #d0d0d0;
}
section .left .top .content .change {
  flex: 1;
  height: 100%;
}
section .left .bottom .situation ul {
  height: 25px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin: 15px 10px 0 10px;
  font-size: 17px;
}
section .left .bottom .situation ul span {
  color: #75ff93;
}
section .left .bottom .chart {
  height: calc(100% - 80px);
  display: flex;
}
section .left .bottom .chart .pie {
  height: 100%;
  flex: 3;
}
section .left .bottom .chart .line {
  height: 100%;
  flex: 8;
}
section .center {
  height: 100%;
  background-color: #06164a;
  position: relative;
}
section .center #mapContainer {
  height: 100%;
}
section .center .layer {
  z-index: 10;
  background-color: #0a184c;
  position: absolute;
  right: 0;
  bottom: 0;
  padding-bottom: 10px;
}
section .center .layer .name {
  padding: 2px;
  text-align: center;
  background-color: #1d529c;
}
section .center .layer .input-item {
  text-align: center;
  font-size: 15px;
  padding: 10px 10px 0 10px;
}
section .center .layer .input-item span {
  padding-left: 5px;
}
section .center .timeLine {
  display: flex;
  background-color: #1d529c;
  border-radius: 25px;
  padding: 5px 10px;
  z-index: 10;
  position: absolute;
  left: 0;
  bottom: 0;
}
section .center .timeLine img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
section .center .timeLine .axis .circle {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}
section .center .timeLine .axis .line {
  display: inline-block;
  vertical-align: middle;
  height: 2px;
  width: 18px;
  background-color: #fff;
}
section .center .timeLine .axis .active {
  box-shadow: 0 0 1px 5px rgba(39, 178, 241, 0.5);
  background-color: #32c5e9;
}
section .center .timeLine .text {
  color: #fff;
  font-size: 12px;
}
section .center .timeLine .text span {
  margin-right: 15px;
}
section .right .top .content {
  height: calc(100% - 35px);
  display: flex;
}
section .right .top .content .pie {
  flex: 1;
  height: 100%;
}
section .right .top .content .img {
  flex: 1;
  height: 100%;
  padding: 10px;
}
section .right .top .content .img .name {
  height: 15%;
  font-size: 15px;
  font-weight: 700;
  margin-top: 9%;
  text-align: center;
}
section .right .top .content .img img {
  width: 100%;
}
section .right .bottom table {
  width: 90%;
  height: calc(80% - 35px);
  border-collapse: collapse;
  margin: 8% auto;
  text-align: center;
  font-size: 14px;
}
section .right .bottom table td {
  color: #c5c5c5;
}
section .right .bottom table td,
section .right .bottom table th {
  border: 1px solid #12606e;
}
.amap-logo {
  display: none;
  opacity: 0 !important;
}
.amap-copyright {
  opacity: 0;
}
/*# sourceMappingURL=riverMap4.css.map */