header{
  .active{
    background-color: #2b4864;
  }
}

section{
  .left{
    .top{
      .content{
        display: flex;
        height: 88%;
        .information{
          flex: 1;
          height: 100%;
          .head{
            margin-top: 5px;
            .name{
              float: left;
              margin: 10px;
            }
            .standard{
              float: right;
              padding: 3px 12px;
              margin: 7px;
              border-radius: 10px;
              color: #75ff93;
              font-size: 14px;
              border: 1px solid #75ff93;
            }
          }
          table{
            width: 90%;
            height: 75%;
            border-collapse: collapse;
            margin: 10px auto;
            text-align: center;
            font-size: 14px;
            td{
              border: 1px solid #12606e;
              padding: 6px;
            }
            td:nth-child(even){
              color: #d0d0d0;
            }
          }
        }
        .change{
          flex: 1;
          height: 100%;
        }
      }
    }
    .bottom{
      .situation{
        ul{
          height: 25px;
          display: flex;
          justify-content: space-around;
          align-items: flex-end;
          margin: 15px 10px 0 10px;
          font-size: 17px;
          span{
            color: #75ff93;
          }
        }
      }
      .chart{
        height: calc(100% - 80px);
        display: flex;
        .pie{
          height: 100%;
          flex: 3;
        }
        .line{
          height: 100%;
          flex: 8;
        }
      }
    }
  }
  .center{
    height: 100%;
    background-color: #06164a;
    position: relative;
    #mapContainer{
      height: 100%;
    }
    .layer{
      z-index: 10;
      background-color: #0a184c;
      position: absolute;
      right: 0;
      bottom: 0;
      padding-bottom: 10px;
      .name{
        padding: 2px;
        text-align: center;
        background-color: #1d529c;
      }
      .input-item{
        text-align: center;
        font-size: 15px;
        padding: 10px 10px 0 10px;
        span{
          padding-left: 5px;
        }
      }
    }
    .timeLine{
      display: flex;
      //background-color: #bbbbbb;
      background-color: #1d529c;
      border-radius: 25px;
      padding: 5px 10px;
      z-index: 10;
      position: absolute;
      left: 0;
      bottom: 0;
      img{
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }
      .axis{
        //margin: 0 10px;
        .circle{
          display: inline-block;
          vertical-align: middle;
          width: 10px;
          height: 10px;
          //background-color: #000000;
          background-color: #fff;
          border-radius: 50%;
          cursor: pointer;
        }
        .line{
          display: inline-block;
          vertical-align: middle;
          height: 2px;
          width: 18px;
          //background-color: #000000;
          background-color: #fff;
        }
        .active{
          box-shadow: 0 0 1px 5px rgba(39, 178, 241, 0.5);
          background-color: #32c5e9;
        }
      }
      .text{
        //color: #000;
        color: #fff;
        font-size: 12px;
        span{
          margin-right: 15px;
        }
      }
    }
  }
  .right{
    .top{
      .content{
        height: calc(100% - 35px);
        display: flex;
        .pie{
          flex: 1;
          height: 100%;
        }
        .img{
          flex: 1;
          height: 100%;
          padding: 10px;
          .name{
            height: 15%;
            font-size: 15px;
            font-weight: 700;
            margin-top: 9%;
            text-align: center;
          }
          img{
            width: 100%;
          }
        }
      }
    }
    .bottom{
      table{
        width: 90%;
        height: calc(80% - 35px);
        border-collapse: collapse;
        margin: 8% auto;
        text-align: center;
        font-size: 14px;
        td{
         color: #c5c5c5;
        }
        td,th{
          border: 1px solid #12606e;
        }
      }
    }
  }
}

.amap-logo{
  display: none;
  opacity:0 !important;
}

.amap-copyright {
  opacity:0;
}